yaml
ast
copy
glob
numpy
sys
time
matplotlib
argparse
datetime
math
os
opencv-python
opencv-contrib-python
random
numbers
collections
pillow
torch torchvision torchaudio --extra-index-url https://download.pytorch.org/whl/cu116
torch-scatter torch-sparse torch-cluster torch-spline-conv torch-geometric -f https://data.pyg.org/whl/torch-1.13.0+cu116.html
